<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horse Racer</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>

    <style>
        .logo {
            margin-right: 1em;
            height: 3em;
        }
        .strikeout {
            text-decoration: line-through;
        }
        .racetrack {
            -webkit-appearance: none;
            height: 34px;
            border-bottom: 1px solid;
        }

        .racetrack::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 32px;
            height: 32px;
            background: url('horse.png');
        }

        .racetrack.running::-webkit-slider-thumb {
            background: url('horserun.gif')
        }

        .racetrack::-moz-range-thumb {
            width: 32px;
            height: 32px;
            background: url('horse.png');
        }

    </style>
</head>

<body>

    <div id="app" class="container-fluid d-flex flex-column align-items-center align-items-md-start">

        <header class="p-3 d-flex align-items-center">
            <div><img src="horse.png" class="logo"></div>
            <span class="display-5">Horse Racer</span>
        </header>

        <div class="container-fluid d-flex justify-content-between align-items-center border border-dark rounded py-1 my-2">
            <span class="btn">Cash: ${{ cash }}</span>
            <select class="btn" v-model="settings.raceIntervalMs">
                <option value="40">Normal</option>
                <option value="15">Fast</option>
                <option value="1">Instant</option>
            </select>
            <span>Race: {{ raceCount }}</span>
        </div>

        <div class="flex-grow-1 container-fluid p-3 border border-dark rounded my-2">
            <div v-for="horseNumber in race.racingHorses" class="d-flex align-items-center">
                <div style="width: 3em;">
                    <span class="badge bg-dark" style="width: 3.2em">{{ getHorseOdds(horseNumber) }}:1</span>
                </div>
                <div class="d-flex align-items-center" style="width: 8em">
                    <span>{{ horses[horseNumber].name }}</span>
                </div>
                <div class="position-relative flex-grow-1">
                    <input class="racetrack w-100" :class="{running: race.status == 1 && !horses[horseNumber].finished}" type="range" min="0" :max="settings.trackLength"
                        v-model="horses[horseNumber].position" disabled>

                    <span v-if="horses[horseNumber].placing" class="badge text-light m-2 position-absolute start-0" :class="{ 'bg-success': horses[horseNumber].placing < 4, 'bg-secondary': horses[horseNumber].placing >= 4 }">
                            #{{ horses[horseNumber].placing }}</span>
                </div>
            </div>
        </div>

        <div class="w-100">
            <button type="button" class="btn btn-outline-dark w-100" @click="initRace" v-if="race.status == 2">Next
                race</button>
            <button type="button" class="btn btn-outline-dark w-100" @click="startRace" v-if="race.status == 0">Start
                race</button>
        </div>

        <div class="d-flex flex-wrap w-100">
            <div class="p-3 border border-dark rounded my-2 w-100" v-if="race.status == 0">
                <h5>New Bet:</h5>
                <select class="form-select my-2" v-model="newBet.type">
                    <option :value="betType" v-for="betType in betTypes">{{ betType }}</option>
                </select>
                <select class="form-select my-2" v-model="newBet.horseNumber">
                    <option :value="horseNumber" v-for="horseNumber in race.racingHorses">{{ horses[horseNumber].name }}
                    </option>
                </select>
                <div class="d-flex align-items-center my-2">
                    <span class="me-1">$</span>
                    <input type="number" class="form-control me-2" min="1" :max="cash" style="width: 6em;" v-model="newBet.bet" @change="validateNewBetAmount">
                </div>
                <div class="my-2 d-flex justify-content-between align-content-center">
                    <div>
                        Payout: ${{ 
                            calculatePayoutForBet( newBet )
                        }}
                    </div>
                    <button type="button" class="btn btn-outline-dark" @click="placeBet"
                        :disabled="newBet.bet > cash">Add bet</button>
                </div>
            </div>

            <div class="w-100 my-2 border border-dark rounded p-3">
                <h5>Bets:</h5>
                <div class="w-100 text-center text-secondary" v-if="!(race.bets != 0)">No bets have been made.</div>
                <div class="w-100 d-flex justify-content-between align-items-center p-2 mb-2 border border-dark rounded text-center text-light" :class="{ 'bg-dark': !bet.won && race.status < 2, 'bg-success': bet.won, 'bg-secondary': !bet.won && race.status == 2 }" v-for="bet in race.bets">
                    <span>{{ bet.type }}</span>
                    <span><b>{{ horses[bet.horseNumber].name }}</b></span>
                    <span>${{ bet.bet }}</span>
                    <span class="badge fs-5" :class="{ 'bg-danger': !bet.won && race.status < 2, 'bg-white': bet.won, 'text-dark': bet.won, strikeout: !bet.won && race.status == 2 }">${{ calculatePayoutForBet(bet) }}</span>
                </div>
            </div>
        </div>

    </div>

    <script>
        const vueApp = {

            data() {
                return {
                    cash: 150,
                    raceCount: 0,
                    horses: [{
                        "name": "Tiny tot"
                    }, {
                        "name": "Acne face"
                    }, {
                        "name": "Ahtylopy"
                    }, {
                        "name": "Big red"
                    }, {
                        "name": "Big sister"
                    }, {
                        "name": "Big bang"
                    }, {
                        "name": "Bad smell"
                    }, {
                        "name": "Cindy"
                    }, {
                        "name": "Constallation"
                    }, {
                        "name": "Jockys hope"
                    }, {
                        "name": "Pushme then"
                    }, {
                        "name": "Endless track"
                    }, {
                        "name": "Filly folly"
                    }, {
                        "name": "Flying nun"
                    }, {
                        "name": "Piccolo player"
                    }, {
                        "name": "Felicity"
                    }, {
                        "name": "Heidi's horror"
                    }, {
                        "name": "Down under"
                    }, {
                        "name": "Dull thunder"
                    }, {
                        "name": "David's delight"
                    }, {
                        "name": "Hozaya"
                    }, {
                        "name": "Hot feet"
                    }, {
                        "name": "Isabel"
                    }, {
                        "name": "Izaya"
                    }, {
                        "name": "Joshua"
                    }, {
                        "name": "Machorse"
                    }, {
                        "name": "Jack"
                    }, {
                        "name": "Jill"
                    }, {
                        "name": "Kakapo"
                    }, {
                        "name": "Knight rider"
                    }, {
                        "name": "King wonder"
                    }, {
                        "name": "Lady Di"
                    }, {
                        "name": "Lightning bolt"
                    }, {
                        "name": "Macwonder"
                    }, {
                        "name": "Lost scalp"
                    }, {
                        "name": "Nehemiah"
                    }, {
                        "name": "Quick hoof"
                    }, {
                        "name": "Oats"
                    }, {
                        "name": "Polly"
                    }, {
                        "name": "Phooy"
                    }, {
                        "name": "Paperback"
                    }, {
                        "name": "Quantum leap"
                    }, {
                        "name": "Quark"
                    }, {
                        "name": "Super slow"
                    }, {
                        "name": "Slangdally"
                    }, {
                        "name": "Tinkerbell"
                    }, {
                        "name": "Unsaturated"
                    }, {
                        "name": "Umber hulk"
                    }, {
                        "name": "Velvet"
                    }, {
                        "name": "Yellow belly"
                    }, {
                        "name": "Nobodies loss"
                    }],
                    horsesPool: [],
                    race: {},
                    newBet: {
                        type: "To Win",
                        horseNumber: 0,
                        bet: 10
                    },
                    betTypes: ["To Win", "Place"],

                    settings: {
                        maxHorsesPool: 20,
                        horsesPerRace: 8,
                        trackLength: 1600,
                        raceIntervalMs: 40,
                        moveConstant: 1,
                        speedInfluence: 0.035,
                        luckInfluence: 0.025,
                        randomInfluence: 5
                    }
                }
            },

            methods: {

                deepCopy(arr) {
                    return JSON.parse(JSON.stringify(arr))
                },

                getRandomArrayPositions(arr, size) {
                    const positionMax = arr.length - 1

                    let positions = []
                    for (let i = 0; i < size; i++) {
                        let newPosition = Math.round(Math.random() * positionMax)

                        while (positions.includes(newPosition)) {
                            newPosition = Math.round(Math.random() * positionMax)
                        }

                        positions.push(newPosition)
                    }

                    return positions
                },

                initHorsesPool() {
                    this.horsesPool = this.getRandomArrayPositions(this.horses, this.settings.maxHorsesPool)

                    for (horseNumber of this.horsesPool) {
                        this.horses[horseNumber].speed = Math.floor(Math.random() * 9) + 1 // 1 to 10
                        this.horses[horseNumber].luck = Math.floor(Math.random() * 9) + 1 // 1 to 10
                        this.horses[horseNumber].wins = 0
                        this.horses[horseNumber].losses = 0
                        this.horses[horseNumber].position = 0
                    }
                },

                initRace() {
                    this.raceCount++

                    this.race = {}

                    this.race.status = 0
                    this.race.finishedCount = 0
                    this.race.racingHorses = []

                    this.race.bets = []

                    for (horse of this.horses) {
                        horse.position = 0
                        horse.placing = 0
                        horse.finished = false
                    }

                    const randomArray = this.getRandomArrayPositions(this.horsesPool, this.settings.horsesPerRace)
                    for (position of randomArray) {
                        this.race.racingHorses.push(this.horsesPool[position])
                    }

                    this.race.oddsTotal = 0

                    for (position of this.race.racingHorses) {
                        this.race.oddsTotal += this.horses[position].speed * 2 + this.horses[position].luck
                    }
                    
                    
                    this.newBet.horseNumber = this.race.racingHorses[0]

                },

                startRace() {
                    this.race.status = 1

                    let raceInterval = setInterval(() => {
                        this.moveHorses()

                        if (this.race.finishedCount == this.settings.horsesPerRace) {
                            this.race.status = 2
                            this.payoutBets()
                            clearInterval(raceInterval)
                        }
                    }, this.settings.raceIntervalMs)
                },

                moveHorses() {
                    for (horseNumber of this.race.racingHorses) {
                        this.moveHorse(horseNumber)
                    }
                },

                moveHorse(horseNumber) {
                    if (!this.horses[horseNumber].finished) {
                        const randomFactor = this.settings.randomInfluence * Math.round(Math.random())
                        const horseSpeedFactor = this.settings.speedInfluence * this.horses[horseNumber].speed
                        const horseLuckFactor = this.settings.luckInfluence * this.horses[horseNumber].luck
                        this.horses[horseNumber].position += this.settings.moveConstant + randomFactor +
                            horseSpeedFactor + horseLuckFactor
                        if (this.horses[horseNumber].position >= this.settings.trackLength) {
                            this.horses[horseNumber].finished = true
                            this.race.finishedCount += 1
                            this.horses[horseNumber].placing = this.race.finishedCount
                        }
                    }

                },

                getHorseOdds(horseNumber) {
                    return Math.floor((this.race.oddsTotal - (this.horses[horseNumber].speed * 2 + this.horses[
                        horseNumber].luck)) / (this.horses[horseNumber].speed * 2 + this.horses[horseNumber]
                        .luck)) - 1
                },

                placeBet() {
                    this.cash -= this.newBet.bet
                    this.race.bets.push(this.deepCopy(this.newBet))
                },

                payoutBets() {
                    for (bet of this.race.bets) {

                        bet.won = true

                        if (bet.type == "To Win" && this.horses[bet.horseNumber].placing == 1) {
                            this.cash += this.calculatePayoutForBet(bet)
                        } else if (bet.type == "Place" && this.horses[bet.horseNumber].placing <= 3) {
                            this.cash += this.calculatePayoutForBet(bet)
                        } else {
                            bet.won = false
                        }

                    }
                },

                calculatePayoutForBet(bet) {
                    let payout = 0

                    if (bet.type == "To Win") {
                        payout = bet.bet + this.getHorseOdds(bet.horseNumber) * bet.bet
                    } else if (bet.type == "Place") {
                        payout = bet.bet + Math.round((this.getHorseOdds(bet.horseNumber) * bet.bet) / 3)
                    }

                    return payout
                },

                validateNewBetAmount() {
                    if (this.newBet.bet < 1) {this.newBet.bet = 1}
                    else if (this.newBet.bet > this.cash) {this.newBet.bet = this.cash}
                }

            },

            mounted() {
                this.initHorsesPool()
                this.initRace()
            }

        }

        app = Vue.createApp(vueApp)
        vm = app.mount("#app")
    </script>
</body>

</html>